In [25]:
#Task 6.1 
#Combine year 2019 and year 2020’s crime records into one pandas dataframe.
#import the required module
import pandas as pd
import glob
import os
#locate the two records
file1 = "C:/Users/27737/Boston’s crime incident reports for the year 2019.csv"
file2 = "C:/Users/27737/Boston’s crime incident reports for the year 2020.csv"
crime_df = pd.concat(
   map(pd.read_csv, [file1, file2]), ignore_index=True)
print(crime_df)
#Drop duplicates as well as any record that has missing values in the following columns: 
#“INCIDENT_NUMBER”, “OFFENSE_CODE”, “DISTRICT”, “Long”, “Lat”, “SHOOTING”, “OCCURRED_ON_DATE”. 
print(len(crime_df), len(crime_df.dropna()))
print(len(crime_df[['INCIDENT_NUMBER', 'OFFENSE_CODE','DISTRICT','Long','Lat','SHOOTING','OCCURRED_ON_DATE']].dropna()))
#Count the nulls and check if we drop them succesfully
for colname in crime_df.columns:
    print(colname, 'null count:', crime_df[colname].isna().sum())
#Save the “cleaned” pandas dataframe to a separate csv file
crime_df.to_csv(r"C:/Users/27737/combineddataof19-20.csv", encoding='utf-8', index=False)

C:\Users\27737\AppData\Local\Temp\ipykernel_13568\44630298.py:10: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  crime_df = pd.concat(
C:\Users\27737\AppData\Local\Temp\ipykernel_13568\44630298.py:10: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  crime_df = pd.concat(

       INCIDENT_NUMBER  OFFENSE_CODE  OFFENSE_CODE_GROUP  \
0            102091671          2647                 NaN
1            102095489          3115                 NaN
2            102096818          2905                 NaN
3            129092894          3201                 NaN
4            129099920          3301                 NaN
...                ...           ...                 ...
158073        20063425          3114                 NaN
158074        20062356          1107                 NaN
158075        20046400          1501                 NaN
158076        20038446          1501                 NaN
158077        20030892           540                 NaN

                                      OFFENSE_DESCRIPTION DISTRICT  \
0                               THREATS TO DO BODILY HARM       B3
1                                      INVESTIGATE PERSON      E18
2                             VAL - VIOLATION OF AUTO LAW       A1
3                                PROPERTY - LOST/ MISSING      NaN
4                                          VERBAL DISPUTE       B2
...                                                   ...      ...
158073                               INVESTIGATE PROPERTY       A7
158074                              FRAUD - IMPERSONATION      E18
158075  WEAPON VIOLATION - CARRY/ POSSESSING/ SALE/ TR...       B2
158076  WEAPON VIOLATION - CARRY/ POSSESSING/ SALE/ TR...       B2
158077                              BURGLARY - COMMERICAL      C11

       REPORTING_AREA  SHOOTING     OCCURRED_ON_DATE  YEAR  MONTH DAY_OF_WEEK  \
0                 417         0  2019-11-12 12:00:00  2019     11     Tuesday
1                 520         0  2019-11-25 16:30:00  2019     11      Monday
2                             0  2019-11-30 21:00:00  2019     11    Saturday
3                 503         0  2019-11-16 13:30:00  2019     11    Saturday
4                 330         0  2019-12-12 07:50:00  2019     12    Thursday
...               ...       ...                  ...   ...    ...         ...
158073             21         0  2020-09-01 00:00:00  2020      9     Tuesday
158074            520         0  2020-08-28 18:39:00  2020      8      Friday
158075            330         0  2020-07-02 01:38:00  2020      7    Thursday
158076            300         0  2020-06-03 01:15:00  2020      6   Wednesday
158077            380         0  2020-05-03 00:00:00  2020      5      Sunday

        HOUR  UCR_PART                                             STREET  \
0         12       NaN                                            MORA ST
1         16       NaN                                         POYDRAS ST
2         21       NaN  SUDBURY ST & CAMBRIDGE ST\nBOSTON  MA 02108\nU...
3         13       NaN                                AMERICAN LEGION HWY
4          7       NaN                                      COLUMBIA ROAD
...      ...       ...                                                ...
158073     0       NaN                                           PARIS ST
158074    18       NaN                                       RIVERSIDE SQ
158075     1       NaN                                        PASADENA RD
158076     1       NaN                                      WASHINGTON ST
158077     0       NaN                                      GALLIVAN BLVD

              Lat       Long                                  Location
0       42.282082 -71.073649   (42.28208197671972, -71.07364874515646)
1       42.256216 -71.124019  (42.256215920402155, -71.12401947329023)
2       42.360866 -71.061316   (42.360866027118476, -71.0613160019785)
3       42.284467 -71.111831   (42.28446742674232, -71.11183088758158)
4        0.000000   0.000000                                    (0, 0)
...           ...        ...                                       ...
158073  42.374427 -71.035279     (42.3744269722053, -71.0352787630199)
158074  42.256216 -71.124019     (42.2562159204022, -71.1240194732902)
158075  42.305761 -71.083772     (42.3057609263196, -71.0837715727385)
158076  42.323808 -71.089150     (42.3238077563779, -71.0891502345332)
158077  42.283700 -71.047761     (42.2837003080534, -71.0477614298657)

[158078 rows x 17 columns]
158078 0
156759
INCIDENT_NUMBER null count: 0
OFFENSE_CODE null count: 0
OFFENSE_CODE_GROUP null count: 158078
OFFENSE_DESCRIPTION null count: 0
DISTRICT null count: 1319
REPORTING_AREA null count: 0
SHOOTING null count: 0
OCCURRED_ON_DATE null count: 0
YEAR null count: 0
MONTH null count: 0
DAY_OF_WEEK null count: 0
HOUR null count: 0
UCR_PART null count: 158078
STREET null count: 3
Lat null count: 0
Long null count: 0
Location null count: 0

In [19]:
#Task 6.2
#Read the csv file generated from Task 6.1 as a pandas dataframe.
crime_df2 = pd.read_csv('C:/Users/27737/combineddataof19-20.csv',low_memory=False)
print(crime_df2)
#Use functions inside pandas to create a frequency table that counts the total number of crime incidents in Boston 
#in each month from 2019 to 2020 and print this table
print(crime_df2[["MONTH","YEAR"]].value_counts())
crosstab = pd.crosstab(index=crime_df2["MONTH"],
                            columns=crime_df2["YEAR"],
                                                    margins=True)
crosstab

       INCIDENT_NUMBER  OFFENSE_CODE  OFFENSE_CODE_GROUP  \
0            102091671          2647                 NaN
1            102095489          3115                 NaN
2            102096818          2905                 NaN
3            129092894          3201                 NaN
4            129099920          3301                 NaN
...                ...           ...                 ...
158073        20063425          3114                 NaN
158074        20062356          1107                 NaN
158075        20046400          1501                 NaN
158076        20038446          1501                 NaN
158077        20030892           540                 NaN

                                      OFFENSE_DESCRIPTION DISTRICT  \
0                               THREATS TO DO BODILY HARM       B3
1                                      INVESTIGATE PERSON      E18
2                             VAL - VIOLATION OF AUTO LAW       A1
3                                PROPERTY - LOST/ MISSING      NaN
4                                          VERBAL DISPUTE       B2
...                                                   ...      ...
158073                               INVESTIGATE PROPERTY       A7
158074                              FRAUD - IMPERSONATION      E18
158075  WEAPON VIOLATION - CARRY/ POSSESSING/ SALE/ TR...       B2
158076  WEAPON VIOLATION - CARRY/ POSSESSING/ SALE/ TR...       B2
158077                              BURGLARY - COMMERICAL      C11

       REPORTING_AREA  SHOOTING     OCCURRED_ON_DATE  YEAR  MONTH DAY_OF_WEEK  \
0                 417         0  2019-11-12 12:00:00  2019     11     Tuesday
1                 520         0  2019-11-25 16:30:00  2019     11      Monday
2                             0  2019-11-30 21:00:00  2019     11    Saturday
3                 503         0  2019-11-16 13:30:00  2019     11    Saturday
4                 330         0  2019-12-12 07:50:00  2019     12    Thursday
...               ...       ...                  ...   ...    ...         ...
158073             21         0  2020-09-01 00:00:00  2020      9     Tuesday
158074            520         0  2020-08-28 18:39:00  2020      8      Friday
158075            330         0  2020-07-02 01:38:00  2020      7    Thursday
158076            300         0  2020-06-03 01:15:00  2020      6   Wednesday
158077            380         0  2020-05-03 00:00:00  2020      5      Sunday

        HOUR  UCR_PART                                             STREET  \
0         12       NaN                                            MORA ST
1         16       NaN                                         POYDRAS ST
2         21       NaN  SUDBURY ST & CAMBRIDGE ST\nBOSTON  MA 02108\nU...
3         13       NaN                                AMERICAN LEGION HWY
4          7       NaN                                      COLUMBIA ROAD
...      ...       ...                                                ...
158073     0       NaN                                           PARIS ST
158074    18       NaN                                       RIVERSIDE SQ
158075     1       NaN                                        PASADENA RD
158076     1       NaN                                      WASHINGTON ST
158077     0       NaN                                      GALLIVAN BLVD

              Lat       Long                                  Location
0       42.282082 -71.073649   (42.28208197671972, -71.07364874515646)
1       42.256216 -71.124019  (42.256215920402155, -71.12401947329023)
2       42.360866 -71.061316   (42.360866027118476, -71.0613160019785)
3       42.284467 -71.111831   (42.28446742674232, -71.11183088758158)
4        0.000000   0.000000                                    (0, 0)
...           ...        ...                                       ...
158073  42.374427 -71.035279     (42.3744269722053, -71.0352787630199)
158074  42.256216 -71.124019     (42.2562159204022, -71.1240194732902)
158075  42.305761 -71.083772     (42.3057609263196, -71.0837715727385)
158076  42.323808 -71.089150     (42.3238077563779, -71.0891502345332)
158077  42.283700 -71.047761     (42.2837003080534, -71.0477614298657)

[158078 rows x 17 columns]
MONTH  YEAR
8      2019    8430
9      2019    8184
7      2019    8083
5      2019    7783
6      2019    7635
10     2019    7121
3      2019    7093
4      2019    6963
1      2019    6958
10     2020    6766
8      2020    6533
9      2020    6484
11     2019    6468
1      2020    6342
12     2019    6293
7      2020    6236
2      2019    6173
6      2020    5925
2      2020    5897
11     2020    5770
12     2020    5602
3      2020    5513
5      2020    5439
4      2020    4387
dtype: int64

YEAR    2019   2020     All
MONTH
1       6958   6342   13300
2       6173   5897   12070
3       7093   5513   12606
4       6963   4387   11350
5       7783   5439   13222
6       7635   5925   13560
7       8083   6236   14319
8       8430   6533   14963
9       8184   6484   14668
10      7121   6766   13887
11      6468   5770   12238
12      6293   5602   11895
All    87184  70894  158078

In [20]:
#Task 6.3 
#Count the total number of crime incidents in each year by district
crosstab = pd.crosstab(index=crime_df2["DISTRICT"],
                            columns=crime_df2["YEAR"],
                                                    margins=True)
crosstab

YEAR       2019   2020     All
DISTRICT
A1         9936   7013   16949
A15        1889   1600    3489
A7         3400   3141    6541
B2        13030  10442   23472
B3         9591   7828   17419
C11       11022   8992   20014
C6         6286   5440   11726
D14        5704   4756   10460
D4        11276   9283   20559
E13        4928   4103    9031
E18        5197   4177    9374
E5         3807   3595    7402
External     77    246     323
All       86143  70616  156759

#Discuss the spatial distribution of crime. Do you see any significant difference between districts in terms of their crime counts? 

(A serious description analysis should not use district code like"B2" but with real names of neighborhood. However, I am so unfamiliar with the street names since I arrived here a month ago, that I will use the codes in this discussion.)

Discussion: The number of crimes in Boston is unevenly distributed between districts. The number of crimes in the A15 area is significantly lower than in other areas, with the number of crimes in both 2019 and 2020 below 2,000. B2 district has the highest number of crimes, which is more than 10,000 cases occurred in both 2019 and 2020. Among the remaining areas, A1, B3, C11, and D4 are the more crime-prone areas, with the number of crimes in these areas being higher than 7,000 each year. The number of crimes in A7, C6, D14, E13, E18, and E5 is between 3,000 and 7,000 in both years, which should be closer to the average for the Boston area. Hence, in this data, there is a significant regional difference in the distribution of the number of crimes in the Boston area, and this difference is particularly prominent between the A15 and B2 districts. Meanwhile, the number of crimes in 2020 decreased in all districts compared to 2019.