# exercise 6
## 6.1
Combine year 2019 and year 2020’s crime records into one pandas dataframe. Drop duplicates as well as any record that has missing values in the following columns: “INCIDENT_NUMBER”, “OFFENSE_CODE”, “DISTRICT”, “Long”, “Lat”, “SHOOTING”, “OCCURRED_ON_DATE”. Save the “cleaned” pandas dataframe to a separate csv file.

In [1]:
import pandas
crime2019 = pandas.read_csv("2019_boston_crime.csv", low_memory=False)
crime2019.dtypes #incident number is mostly int64, but had a few bad pieces of data that ruined it
crime2020 = pandas.read_csv("2020_boston_crime.csv", low_memory=False)
print(crime2020.dtypes)

INCIDENT_NUMBER         object
OFFENSE_CODE             int64
OFFENSE_CODE_GROUP     float64
OFFENSE_DESCRIPTION     object
DISTRICT                object
REPORTING_AREA          object
SHOOTING                 int64
OCCURRED_ON_DATE        object
YEAR                     int64
MONTH                    int64
DAY_OF_WEEK             object
HOUR                     int64
UCR_PART               float64
STREET                  object
Lat                    float64
Long                   float64
Location                object
dtype: object

In [2]:
combinedCrime = pandas.concat([crime2019, crime2020])

In [3]:
combinedCrime.describe()

,OFFENSE_CODE,OFFENSE_CODE_GROUP,SHOOTING,YEAR,MONTH,HOUR,UCR_PART,Lat,Long
count,158078.000000,0.0,158078.000000,158078.000000,158078.000000,158078.000000,0.0,158078.000000,1.580780e+05
mean,2323.014885,NaN,0.012222,2019.448475,6.555656,12.928497,NaN,40.915621,-6.873675e+01
std,1225.616966,NaN,0.109875,0.497340,3.385142,6.416447,NaN,7.635482,1.270572e+01
min,100.000000,NaN,0.000000,2019.000000,1.000000,0.000000,NaN,-90.000000,-9.000000e+01
25%,802.000000,NaN,0.000000,2019.000000,4.000000,9.000000,NaN,42.293755,-7.109737e+01
50%,3005.000000,NaN,0.000000,2019.000000,7.000000,14.000000,NaN,42.324702,-7.107635e+01
75%,3201.000000,NaN,0.000000,2020.000000,9.000000,18.000000,NaN,42.347972,-7.106021e+01
max,99999.000000,NaN,1.000000,2020.000000,12.000000,23.000000,NaN,42.395042,5.249691e-08

In [4]:
noMissingColumn = ["INCIDENT_NUMBER", "OFFENSE_CODE", "DISTRICT", "Long", "Lat", "SHOOTING", "OCCURRED_ON_DATE"]
for column in noMissingColumn:
    combinedCrime = combinedCrime.query(column + ".notna()")

In [5]:
combinedCrime.describe()

,OFFENSE_CODE,OFFENSE_CODE_GROUP,SHOOTING,YEAR,MONTH,HOUR,UCR_PART,Lat,Long
count,156759.000000,0.0,156759.000000,156759.000000,156759.000000,156759.000000,0.0,156759.000000,1.567590e+05
mean,2321.610479,NaN,0.012242,2019.450475,6.535076,12.929395,NaN,41.008598,-6.887769e+01
std,1225.696992,NaN,0.109963,0.497543,3.377254,6.415094,NaN,7.339247,1.232686e+01
min,100.000000,NaN,0.000000,2019.000000,1.000000,0.000000,NaN,0.000000,-7.117867e+01
25%,802.000000,NaN,0.000000,2019.000000,4.000000,9.000000,NaN,42.293979,-7.109747e+01
50%,3005.000000,NaN,0.000000,2019.000000,7.000000,14.000000,NaN,42.324702,-7.107638e+01
75%,3201.000000,NaN,0.000000,2020.000000,9.000000,18.000000,NaN,42.348010,-7.106045e+01
max,99999.000000,NaN,1.000000,2020.000000,12.000000,23.000000,NaN,42.395042,5.249691e-08

In [6]:
import numpy as np
#remove dups when those 3 columns are the same, except t0 of each year since that likely means they just didnt have time info
combinedCrime = combinedCrime[np.invert(combinedCrime.duplicated(["OFFENSE_CODE", "OCCURRED_ON_DATE", "STREET"])
                              & [x[5:20] != "01-01 00:00:00" for x in combinedCrime['OCCURRED_ON_DATE']])
                             ].sort_values("OCCURRED_ON_DATE") #DeMorgan's law, !a|b==!(a&!b)

In [7]:
combinedCrime.describe()

,OFFENSE_CODE,OFFENSE_CODE_GROUP,SHOOTING,YEAR,MONTH,HOUR,UCR_PART,Lat,Long
count,156253.000000,0.0,156253.000000,156253.000000,156253.000000,156253.000000,0.0,156253.000000,1.562530e+05
mean,2321.370239,NaN,0.012256,2019.450046,6.537986,12.933275,NaN,41.006764,-6.887466e+01
std,1226.162631,NaN,0.110026,0.497500,3.377193,6.413316,NaN,7.344152,1.233511e+01
min,100.000000,NaN,0.000000,2019.000000,1.000000,0.000000,NaN,0.000000,-7.117867e+01
25%,802.000000,NaN,0.000000,2019.000000,4.000000,9.000000,NaN,42.293959,-7.109747e+01
50%,3005.000000,NaN,0.000000,2019.000000,7.000000,14.000000,NaN,42.324702,-7.107638e+01
75%,3201.000000,NaN,0.000000,2020.000000,9.000000,18.000000,NaN,42.347991,-7.106047e+01
max,99999.000000,NaN,1.000000,2020.000000,12.000000,23.000000,NaN,42.395042,5.249691e-08

In [8]:
combinedCrime.to_csv("combinedCrime.csv", index=False)

## 6.2
Read the csv file generated from Task 6.1 as a pandas dataframe. Use functions inside pandas to create a frequency table that counts the total number of crime incidents in Boston in each month from 2019 to 2020. Print this table.

In [9]:
data = pandas.read_csv("combinedCrime.csv", low_memory=False)

In [10]:
print(data["MONTH"].value_counts())

8     14850
9     14578
7     14197
10    13704
6     13426
1     13200
5     13141
3     12474
11    12056
2     11968
12    11386
4     11273
Name: MONTH, dtype: int64

[editted]

In [21]:
data = pandas.read_csv("combinedCrime.csv", low_memory=False)
data["DISTRICT"].unique()

array(['A1', 'C11', 'E18', 'D4', 'B2', 'B3', 'E13', 'C6', 'D14', 'A7',
       'E5', 'A15', 'External'], dtype=object)

In [22]:
#already removed null by previous data processing
data = data.query('DISTRICT != "External"')

In [23]:
violenceOrPropValues = ["none", "violence", "property", "both"]
violenceOrProp = []
for x in data["OFFENSE_CODE"]:
    violenceOrProp.append(violenceOrPropValues[int(x in violentCodes) + 2*int(x in propertyCodes)])
data['violenceOrProp'] = violenceOrProp #technically dont have to do this for crosstab

In [24]:
data2019 = data.query("YEAR == 2019")
data2020 = data.query("YEAR == 2020")
cross2019 = pandas.crosstab(data2019["DISTRICT"], data2019["violenceOrProp"])
cross2020 = pandas.crosstab(data2020["DISTRICT"], data2020["violenceOrProp"])
pandas.concat([cross2019, cross2020], axis=1, keys=['2019','2020'])

                 2019                    2020
violenceOrProp   none property violence  none property violence
DISTRICT
A1               6806     1889     1204  4818     1424      732
A15              1459      273      152  1166      336       87
A7               2657      405      329  2397      481      247
B2              10399     1346     1262  8183     1366      825
B3               7419     1073     1071  6351      868      595
C11              8378     1612     1007  6909     1398      629
C6               4708      953      618  3921     1077      406
D14              4461      818      419  3638      864      244
D4               7381     2736     1128  6123     2388      755
E13              3820      665      428  3220      597      278
E18              4216      618      345  3483      492      191
E5               3106      446      249  2922      508      160

In [25]:
#was slightly difficult to estimate ratio, so wanted to normalize
cross2019 = pandas.crosstab(data2019["DISTRICT"], data2019["violenceOrProp"], normalize='index')
cross2020 = pandas.crosstab(data2020["DISTRICT"], data2020["violenceOrProp"], normalize='index')
pandas.concat([cross2019, cross2020], axis=1, keys=['2019','2020'])

                    2019                          2020
violenceOrProp      none  property  violence      none  property  violence
DISTRICT
A1              0.687544  0.190827  0.121628  0.690852  0.204187  0.104961
A15             0.774416  0.144904  0.080679  0.733795  0.211454  0.054751
A7              0.783545  0.119434  0.097022  0.767040  0.153920  0.079040
B2              0.799493  0.103483  0.097025  0.788799  0.131675  0.079526
B3              0.775803  0.112203  0.111994  0.812772  0.111083  0.076145
C11             0.761844  0.146585  0.091570  0.773165  0.156446  0.070389
C6              0.749801  0.151776  0.098423  0.725574  0.199297  0.075130
D14             0.782906  0.143559  0.073535  0.766540  0.182048  0.051412
D4              0.656381  0.243308  0.100311  0.660803  0.257716  0.081481
E13             0.777529  0.135355  0.087116  0.786325  0.145788  0.067888
E18             0.814057  0.119328  0.066615  0.836054  0.118099  0.045847
E5              0.817153  0.117338  0.065509  0.813928  0.141504  0.044568

District D4 has a greater ratio of reported property crimes than the other districts. District A1 has a lower ratio of crimes that don't fit into property or violence. Property crimes increased in most districts between 2019 and 2020, except B3, E18 and E5. Violent crimes decreased in every district.